@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Ubuntu", cursive;
  background: linear-gradient(to bottom, #03070f, #1b1b1f);
  z-index: -1;
}

.mainText {
  font-family: "Protest Guerrilla", sans-serif;
}

/* a {
  font-family: "Protest Guerrilla", sans-serif;
} */

/* a {
  font-family: "Nerko One", cursive;
} */

.nav > a {
  transition: 0.3s ease all;
  font-variant: small-caps;
}

.nav > a:hover {
  text-shadow: 0px 0px 0.4vw rgb(161, 161, 161),
    0px 0px 0.9vw rgb(158, 158, 158), 0px 0px 1.4vw rgb(136, 136, 136),
    0px 0px 2vw rgb(107, 107, 107), 0px 0px 2.7vw rgb(63, 63, 63);
}

.motion-span {
  display: inline; /* Ensure spans are inline for text display */
  white-space: pre; /* Preserve whitespace in the text */
}

.projShad {
  box-shadow: 30px 30px 100px -50px black;
}

.glow {
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

#card {
  transform: rotate3d(0);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;

  /* background-image: url(https://images.unsplash.com/photo-1557672199-6e8c8b2b8fff?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80); */
  border: 1px solid rgb(122, 122, 122);
  /* background-color: rgb(41, 39, 29); */
  backdrop-filter: blur(10px);
}

.perspective {
  perspective: 1500px;
}

#card {
  transition-duration: 150ms;
}

#card:hover {
  box-shadow: 0 5px 20px 5px #7e7e7e44;
  animation: none;
}

.animatePulse {
  animation: pulse 8s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    scale: 1;
    opacity: 0.85;
  }
  50% {
    scale: 1.2;
    opacity: 1;
  }
}

.overlay {
  background: radial-gradient(#000000d1, #00000077);
}
